.startingPage {
  background-repeat: no-repeat;
  background-image: url("../assest/a549e5b6e30d191ea78be646ce91407f.jpg");
  background-size: 100vh;
  background-position: absolute;
  background-position: 200px;
  height: 100vh;
  background-color: #000;
  color: aliceblue;
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.startButton {
  font-size: 20px;
  width: 150px;
  margin-bottom: 250px;
  padding: 10px;
  border-radius: 10%;
  background-color: rgba(217, 213, 93, 255);
  box-shadow: 10px 5px 5px #db4256;
}

.rsd {
  display: flex;
  height: 100vh;
  background-color: #000;
  color: aliceblue;
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: column;

  /* display: block; */
  /* margin: 0 auto; */
}
